button, input {
    -webkit-appearance: none;
}

body {
    background-color: #1b1b1b;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
}

body:before {
    content: "";
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    z-index: -1000;
    background-image: url(./img/logo.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.05;
}

#app {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.connection {
    padding: 12px 15px;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #888;
    line-height: 20px;
    color: #bbb;
    height: 45px;
    box-sizing: border-box;
}

.connection:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    margin: 0 10px 0 0;
    background-color: rgb(158, 51, 51);
}

.connection.on:before {
    background-color: rgb(19, 114, 73);
}

.connection .gameid {
    float: right;
    line-height: 20px;
    font-weight: bold;
}

.controls {
    position: relative;
    padding: 10px 25px 80px 25px;
    flex-grow: 1;
    max-width: 350px;
    margin: 0 auto;
}

.controls.centre {
    text-align: center;
}

.controls.vcentre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-row {
    margin: 20px 0;
}

.form-row label {
    display: block;
    margin: 0 0 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.form-row input,
.form-row button {
    background-color: #444;
    color: white;
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
}

.form-row input:focus,
.form-row button:focus {
    border: 1px solid orange;
    outline: none;
}

.form-row input[type="submit"],
.form-row button {
    background-color: orange;
    border: 1px solid orange;
    color: black;
    padding: 8px 20px;
    text-transform: uppercase;
}

.form-row input[type="submit"]:disabled,
.form-row button:disabled {
    background-color: #444;
    border: 1px solid #444;
    color: #777;
}

.error {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -40px;
    background-color: #b44;
    border-radius: 4px;
    padding: 8px 12px;
    text-align: center;
    transition: bottom 0.25s;
}

.error.visible {
    bottom: 15px;
}

/** PLAY BOARD **/

.play-board {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 800px;
}

.policy-card {
    position: relative;
    width: 150px;
    height: 224px;
    background-size: 107% auto;
    background-position: 50% 70%;
    border-radius: 12px;
    backface-visibility: hidden;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.25);
}

.policy-card.liberal {
    background-image: url(./img/liberal_article.png);
}

.policy-card.fascist {
    background-image: url(./img/fascist_article.png);
}

.policy-card.liberal-party {
    background-image: url(./img/liberal_party.png);
}

.policy-card.fascist-party {
    background-image: url(./img/fascist_party.png);
}

.policy-card.backface {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    background-image: url(./img/back_article.png);
    transform: rotateY(180deg);
}

.policy-card.backface-party {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    background-image: url(./img/back_party.png);
    transform: rotateY(180deg);
}

.board {
    position: absolute;
    left: 50vw;
    background-color: black;
    display: flex;
    padding: 18px 20px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.board-tile {
    background-size: 90% auto;
    background-position: 50% 50%;
    flex: 1 1 0;
}

.board-tile + .board-tile {
    border-left: 2px dashed #444;
}

.board-tile.fascist-win {
    background-image: url(./img/board_fascist_win.png);
}

.board-tile.liberal-win {
    background-image: url(./img/board_liberal_win.png);
}

.board-tile.investigate {
    background-image: url(./img/board_investigate.png);
}

.board-tile.policy-peak {
    background-image: url(./img/board_policy_peak.png);
}

.board-tile.kill {
    background-image: url(./img/board_kill.png);
}

.board-tile.kill-veto {
    background-image: url(./img/board_kill_veto.png);
}


.card-selection {
    margin: 50px 0 0 0;
    position: relative;
}

.card-selection .question-mark {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    color: #888;
    font-size: 90px;
    line-height: 100px;
    text-align: center;
    font-family: 'Germania One', sans-serif;
}

.card-selection .policy-card {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
}

.play-board .util {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 3px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.play-board .modal-wrap {
    position: absolute;
    top: 0;
    right: 300px;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.play-board .modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.7);
}

.play-board .modal h1 {
    font-size: 3vw;
    line-height: 1.4;
    margin: 50px 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em 0  black;
    font-family: 'Germania One', sans-serif;
    letter-spacing: 0.1em;
}

.play-board .modal p {
    font-size: 24px;
    text-align: center;
    margin: 30px 0;
}

.controls p.secret-role-text {
    font-family: 'Germania One', sans-serif;
    font-size: 26px;
    line-height: 30px;
    margin: -15px 0 35px 0;
}

.controls .player-wrap {
    padding: 14px 0;
    margin: 0 auto;
    border-top: 1px dashed #666;
    text-align: center;
    width: 200px;
}

.controls .player-wrap p {
    margin: 0 0 6px 0;
    text-align: center;
    font-size: 14px;
}

.controls .player-wrap p.player {
    font-family: 'Germania One', sans-serif;
    padding: 6px 20px 5px 20px;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
}

.secret-role {
    position: fixed;
    bottom: 20px;
    left: 50%;
    padding: 10px;
    background-color: black;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    width: 200px;
    margin: 0 0 0 -100px;
    box-sizing: border-box;
}

.secret-role .title {
    line-height: 20px;
    height: 20px;
    transition: transform 0.4s, opacity 0.4s;
    transform: translate(0px, 0px);
}

.secret-role .role {
    line-height: 20px;
    height: 20px;
    margin-top: -20px;
    transition: transform 0.4s, opacity 0.4s;
    opacity: 0;
    transform: translate(0px, 15px);
}

.secret-role:hover .title {
    transform: translate(0px, -15px);
    opacity: 0;
}

.secret-role:hover .role {
    transform: translate(0px, 0px);
    opacity: 1;
}

.btn {
    display: block;
    margin: 20px 0;
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    border-radius: 6px;
    background-color: #ffaa33;
    font-weight: bold;
    border: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Germania One', sans-serif;
}

.btn:focus {
    outline: none;
    border: none;
}

.btn.compact {
    margin: 10px 0;
    padding: 6px;
}

.btn.ja {
    background-color: white;
    font-size: 20px;
    padding: 20px;
}

.btn.nein {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.btn.veto {
    background: #b44;
    color: white;
    width: 200px;
    margin: 0 auto;
}

.btn.okay {
    background: white;
    color: black;
    width: 200px;
    margin: 0 auto;
}

.controls p {
    font-size: 15px;
    line-height: 22px;
    margin: 30px 0 40px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.undo-confirm {
    position: relative;
    margin-top: 310px;
    display: flex;
    z-index: 5000;
}

.btn.undo {
    background-color: black;
    color: #bbb;
    margin-right: 20px;
}

p.gameover-text {
    font-size: 24px;
    font-family: 'Germania One', sans-serif;
}