button, input {
    -webkit-appearance: none;
}

body {
    background-color: #101010;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
}

body:before {
    content: "";
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    z-index: -1000;
    background-image: url(/img/logo.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.05;
}

#app {
    position: relative;
    height: 95vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.connection {
    padding: 12px 15px;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #888;
    line-height: 20px;
    color: #bbb;
    height: 45px;
    box-sizing: border-box;
}

.connection:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    margin: 0 10px 0 0;
    background-color: rgb(158, 51, 51);
}

.connection.on:before {
    background-color: rgb(19, 114, 73);
}

.connection .gameid {
    float: right;
    line-height: 20px;
    font-weight: bold;
}

.controls {
    padding: 10px 15px;
    flex-grow: 1;
}

.controls.centre {
    text-align: center;
}

.controls.vcentre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-row {
    margin: 20px 0;
}

.form-row label {
    display: block;
    margin: 0 0 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.form-row input,
.form-row button {
    background-color: #444;
    color: white;
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
}

.form-row input:focus,
.form-row button:focus {
    border: 1px solid orange;
    outline: none;
}

.form-row input[type="submit"],
.form-row button {
    background-color: orange;
    border: 1px solid orange;
    color: black;
    padding: 8px 20px;
    text-transform: uppercase;
}

.form-row input[type="submit"]:disabled,
.form-row button:disabled {
    background-color: #444;
    border: 1px solid #444;
    color: #777;
}

.error {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -40px;
    background-color: #b44;
    border-radius: 4px;
    padding: 8px 12px;
    text-align: center;
    transition: bottom 0.25s;
}

.error.visible {
    bottom: 15px;
}

/** PLAY BOARD **/

.play-board {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 800px;
}

.policy-card {
    position: relative;
    width: 150px;
    height: 224px;
    background-size: 107% auto;
    background-position: 50% 70%;
    border-radius: 12px;
    backface-visibility: hidden;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.25);
}

.policy-card.liberal {
    background-image: url(/img/liberal_article.png);
}

.policy-card.fascist {
    background-image: url(/img/fascist_article.png);
}

.policy-card.backface {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    transform: rotateY(180deg);
}

.play-board .util {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 3px solid black;
}

.play-board .modal-wrap {
    position: absolute;
    top: 0;
    right: 400px;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.play-board .modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
}

.play-board .modal h1 {
    font-size: 3vw;
    line-height: 1.4;
    margin: 50px 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em 0  black;
}